extends layout 

block content
	header(container)
		h1 Dota2 Winning Prediction
	 
		.topnav
			a.active(href='#home') Home
			input(type='text', placeholder='Search..')
		//nav  
	 		//ul 
				// This will show a modal window with a form to send new notes
				//li: a(href='#note-form' rel='modal:open') Publish
			
		//main(container).notes-list 
		  // We loop over all the notes received from our controller rendering our note component with each entry
			each note in data.notes 
				include components/note 
				
			

		
		// Form to add a new note, this is used by our controller `create` function.		
		form(action='/note' method='POST').note-form#note-form
			p: input(name='noteTitle' type='text' placeholder='Title...')
			
			
			